#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: luisaymuro # Change me  (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC8ytIf1u+agC6twHWMtRIpg17Ir7Nk57R8eRcm2kKSU/CoOh3GhPSSSq4ZIlsSa1Q2fZpP2pAYsTO2niats/xHHENPDvCgvh2nNWPaLGs5uhk3CWc4Y0cupCiZhZ22iNqAv/punsG6vFlF0yOzSMO788ioz3rn8JwZOkhkJEeKrwHLSITA0xm8G+LEsQGZdsgyWjT6k4aGJhskg8RjB08WE1r9Alkn9/LFzTv+Tz895ppI/orKAgHJmdjv0PUxzjF0Y9k/UbewDSM1i1P4j/ZJusiejdcTu5sufbpTHybYGfL4/F5Wa2Cx2QXoeOYBsWwFzQ2zPWkmvSsfv66zeBhz luis@luis
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
